// Colors
$white: #FFFFFF;
$black: #000000;
$grey: #E2E2E2;
$ming: #407289;
$christine: #EF6A06;
$redwood: #5E1F0F;
$cinnebar: #EB3636;
$gold: #FFD700;

// Fonts
$fontFamilyBase: Calibri,Arial,Helvetica,sans-serif;
$fontSizeBase: 20px;

$maxLayoutWidth: 70em;