.swiper-pagination
{
   position: absolute;
   @extend %align-center;
   left: 0;
   bottom: 0;
   width: 100%;
}

.swiper-pagination-switch
{
   display: inline-block;
   @include size(12px);
   border-radius: 50%;
   background: $dustyGray;
   box-shadow: 0 1px 2px #555555 inset;
   margin-right: 10px;
   cursor: pointer;
}

.swiper-active-switch
{
   background: $white;
}