%align-horizontal,
.align-horizontal
{
   display: block;
   margin: auto;
}

%align-vertical,
.align-vertical
{
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

%align-left,
.align-left
{
   text-align: left;
}

%align-center,
.align-center
{
   text-align: center;
}

%align-right,
.align-right
{
   text-align: right;
}